<section class="observables-preview-container">
  <h2 class="observables-preview-container-title">
    {{observablesPreview.observableTitle}}
  </h2>
  <article class="observables-flux-grid">
    <div 
    class="observables-objects observables-objectA" 
    [ngStyle]="observablesPreview.objectAStyle"
    >
      {{observablesPreview.objectAText}}
    </div>
    <div 
    class="observables-objects observables-objectB" 
    [ngStyle]="observablesPreview.objectBStyle"
    >
      {{observablesPreview.objectBText}}
    </div>
  </article>
  <aside class="observables-preview-container-controls">
    <button class="flux-btns fluxA" [ngClass]="{
        active: observablesPreview.btnFluxAState,
        inactive: !observablesPreview.btnFluxAState
        }">
      {{observablesPreview.btnFluxAText}}
    </button>
    <button class="flux-btns fluxB" [ngClass]="{
      active: observablesPreview.btnFluxBState,
      inactive: !observablesPreview.btnFluxBState
      }">
      {{observablesPreview.btnFluxBText}}
    </button>
    <div class="flux-instructions">
      <p class="flux-instructions-text" id="fluxInstructionsText">
        {{observablesPreview.flexInstructionsText}}
      </p>
    </div>
  </aside>
</section>