<article class="web-snap-card">
  <h2>
    @if(!websnap || !websnap.title){
    {{defaultWebSnap.title}}
    }
    @else{
    {{websnap.title}}
    }
  </h2>
  <p>
    <span class="subtitle">
      @if(!websnap || !websnap.createdDate){
      {{defaultWebSnap.createdDate}}
      }@else{
      {{websnap.createdDate | date:"dd/MM/yy à HH:mm"}}
      }
    </span>
    @if(websnap && websnap.location){
      <span class="subtitle">
        À {{websnap.location}}
      </span>
    }
  </p>
  @if(!websnap || (!websnap.image && !websnap.title)){
  <img [src]="defaultWebSnap.image" [alt]="defaultWebSnap.title" />
  }@else{
  <img [src]="websnap.image" [alt]="websnap.title" />
  }
  <p>
    @if(!websnap || !websnap.description){
    {{defaultWebSnap.description}}
    }@else{
    {{websnap.description}}
    }
  </p>
  <app-like-btn></app-like-btn>
</article>